<div id="players_header"><h1>Listing players</h1>
Positions: <% %w(C 1B 2B 3B SS OF UTIL SP RP P).each do |x| %>
  <%= link_to x, "/players/position/#{x}" %>
<% end %>
</div>

<% @players.each do |player| %>
<div class="player" style="clear:left;">
  <div class="player_info">
    <h3><%= player.name %> -- <%= player.position %> -- <%= player.team.name %>
  </div>
  <div class="stats">
    <table>
      <tr>
        <% @headers.each do |h| %>
          <th><%= h %></th>
        <% end %>
      </tr>
      <% player.projections.each do |proj| %>
        <tr>
          <% @headers.each do |h| %>
            <td><%= proj[h] %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<% end %>

<br class="clear:left" />
