<h1>Listing players</h1>
Positions: <% %w(C 1B 2B 3B SS OF UTIL SP RP P).each do |x| %>
  <%= link_to x, "/players/position/#{x}" %>
<% end %>


<% @players.each do |player| %>
<div class="player" style="clear:left;">
  <div class="player_info" style="float:left">
    <h3><%= player.name %> -- <%= player.position %></h3>
    <h4><%= player.team.name %></h4>
  </div>
  <div class="stats" style = "float:left">
    <table>
      <tr>
        <% @headers.each do |h| %>
          <th><%= h %></th>
        <% end %>
      </tr>
      <% player.projections.each do |proj| %>
        <tr>
          <% @headers.each do |h| %>
            <td><%= proj[h] %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>

<br />
